body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inknut Antiqua', serif;
  color: white;
  background-color: #1A1A1D;
}
.topSection h3 {
  color: #950740;
}
.contactMe {
  color: #4E4E50;
}
.topSection p {
  color: white;
}
a {
  color: #C3073F;
}
img {
  height: 400px;
  margin: auto;
}
.lyricNinjaPicture {
  width: 400px;
  height: 275px;
}
.fa-brands, .contactIcon {
  color: #C3073F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


